1 ICON "app-icon_eps-server.ico"

2 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "e-pooyasokhan.com"
      VALUE "FileDescription", "The EPS Server"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "EPS_SERVER"
      VALUE "LegalCopyright", "e-pooyasokhan.com"
      VALUE "OriginalFilename", "eps-server.exe"
      VALUE "ProductName", "EPS Server Version"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

